@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #20232a;
  --default: #e5e5e5;
  --red: #b52e1e;
  --blue: #235588;
  --purple: #7e2e67;
  --shadow: 0px 0px 12.5px 0px rgba(2, 2, 58, 0.5);
}

body {
  background-color: var(--default);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
