.wrapper {
  padding: 0 135px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
}

.navigation > div {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 125px;
  }
  .search_component > div {
    margin-right: 53px;
  }
  .navigation > div {
    display: block;
  }
  .navigation > nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 96px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding: 0 18px;
  }
}
